@charset "UTF-8";
:root {
  --header-color: #212121;
  --main-title-color: #ffffff;
  --second-title-color: #757575;
  --typical-padding: 94px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
}

body.is-open {
  overflow: hidden;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.header {
  border-bottom: 1px solid #ECECEC;
}

@media screen and (max-width: 767px) {
  .header {
    position: relative;
  }
  .header .container {
    height: 100%;
  }
}

@media screen and (min-width: 768px) {
  .header {
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.header .nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-button {
  position: fixed;
  right: 15px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  z-index: 99;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button .icon-menu {
  display: none;
}

.menu-button.is-open {
  position: relative;
  right: 0;
}

.menu-button.is-open .icon-menu {
  display: block;
}

.menu-button.is-open .icon-menu:hover, .menu-button.is-open .icon-menu:focus {
  color: #2196F3;
}

.menu-button.is-open .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross:hover, .menu-button.is-open .icon-cross:focus {
  color: #2196F3;
}

.mob-menu {
  background-color: #FFFFFF;
  padding: 48px 40px;
}

@media screen and (max-width: 767px) {
  .mob-menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
  }
  .mob-menu.is-open {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .mob-menu {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    padding: 21px 0;
  }
}

@media screen and (min-width: 1200px) {
  .mob-menu {
    padding: 0 0;
  }
}

.logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.header__logo {
  color: #000000;
  margin-right: 67px;
}

@media screen and (max-width: 767px) {
  .header__logo {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.logo__web {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #2196F3;
}

@media screen and (min-width: 1200px) {
  .logo__web {
    font-size: 26px;
    line-height: 1.19;
  }
}

@media screen and (max-width: 767px) {
  .menu {
    margin-bottom: 302px;
    text-align: left;
  }
}

@media screen and (min-width: 768px) {
  .menu {
    display: flex;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .menu__item:not(:last-child) {
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 768px) {
  .menu__item:not(:last-child) {
    margin-right: 50px;
  }
}

@media screen and (max-width: 767px) {
  .contacts {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 64px;
  }
}

@media screen and (min-width: 768px) {
  .contacts {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 84px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts {
    flex-direction: row;
    display: flex;
    margin: 0;
    margin-left: auto;
  }
}

@media screen and (max-width: 767px) {
  .menu__link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    color: var(--header-color);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu__link:hover, .menu__link:focus {
    color: #2196F3;
  }
}

@media screen and (min-width: 768px) {
  .menu__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--header-color);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
  }
  .menu__link:hover, .menu__link:focus {
    color: #2196F3;
  }
}

@media screen and (min-width: 768px) {
  .menu-soc-list {
    display: none;
  }
}

.menu__link--current {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: #2196F3;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .menu__link--current {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    color: #2196F3;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

@media screen and (min-width: 768px) {
  .menu__link--current {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: #2196F3;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
  }
}

@media screen and (min-width: 768px) {
  .menu__link--current::after {
    position: absolute;
    content: "";
    bottom: -32px;
    display: block;
    width: 100%;
    height: 4px;
    background-color: #2196F3;
    border-radius: 2px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

@media screen and (max-width: 767px) {
  .contacts__mail {
    color: #757575;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
  }
  .contacts__mail:hover, .contacts__mail:focus {
    color: #2196F3;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

@media screen and (min-width: 768px) {
  .contacts__mail {
    font-size: 12px;
    line-height: 1.17;
    color: var(--second-title-color);
    display: flex;
    align-items: center;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contacts__mail:hover, .contacts__mail:focus {
    color: #2196F3;
  }
}

@media screen and (max-width: 767px) {
  .contacts__tel {
    margin-left: 0;
    margin-bottom: 32px;
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
  }
  .contacts__tel:hover, .contacts__tel:focus {
    color: #2196F3;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

@media screen and (min-width: 768px) {
  .contacts__tel {
    font-size: 12px;
    line-height: 1.17;
    color: var(--second-title-color);
    margin-left: 0px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contacts__tel:hover, .contacts__tel:focus {
    color: #2196F3;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__tel {
    color: var(--second-title-color);
    margin-left: 30px;
    margin-top: 0;
    display: flex;
    align-items: center;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contacts__tel:hover, .contacts__tel:focus {
    color: #2196F3;
  }
}

@media screen and (max-width: 767px) {
  .contacts__mail--icon {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .contacts__mail--icon {
    margin-right: 10px;
    fill: currentColor;
  }
}

@media screen and (max-width: 767px) {
  .contacts__tel--icon {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .contacts__tel--icon {
    margin-right: 10px;
    fill: currentColor;
  }
}

@media screen and (max-width: 767px) {
  .menu-soc-list {
    display: flex;
  }
}

.menu-soc-link {
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196F3;
}

@media screen and (max-width: 767px) {
  .menu-soc-item:not(:first-child) {
    margin-left: 10px;
  }
}

@media screen and (max-width: 767px) {
  .menu-soc-item:not(:last-child):after {
    content: "";
    color: rgba(33, 33, 33, 0.2);
    border-left: 1px solid rgba(33, 33, 33, 0.2);
    margin-left: 10px;
  }
}

.main {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #2F303A;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .main {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-mob-2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .main {
    padding-left: 164px;
    padding-right: 164px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-tab.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .main {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-tab-2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .main {
    max-width: 1600px;
    min-height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/main-img.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .main {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/main-img-2x.jpg);
  }
}

.main-title {
  margin-top: 0;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-transform: uppercase;
  max-width: 360px;
  width: 100%;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .main-title {
    padding-left: 40px;
    padding-right: 40px;
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;
  }
}

.main-btn {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  cursor: pointer;
  background-color: #2196F3;
  min-width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  align-items: center;
  border: 0;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1;
  overflow-y: scroll;
}

.backdrop.is-hidden .footer-input {
  transform: translate(-50%, -50%) scale(0);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 450px;
  min-height: 581px;
  background-color: #ffffff;
  border-radius: 5px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    min-height: 581px;
  }
}

.modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.icon-close:hover {
  fill: #2196F3;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: transparent;
  margin-bottom: 10px;
  margin-top: 4px;
  padding-left: 40px;
  outline: transparent;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus, .modal-input:hover {
  border-color: #2196F3;
}

.modal-label {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
  text-align: left;
}

.modal-commit {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: transparent;
  resize: none;
  margin-top: 4px;
  padding: 12px;
  outline: transparent;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-commit:focus, .modal-commit:hover {
  border-color: #2196F3;
}

.modal-commit::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.icon {
  position: relative;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon:focus, .icon:hover {
  fill: #2196F3;
}

.icon-modal-input {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  display: inline-block;
  width: 18px;
  height: 18px;
  background-color: var(--main-title-color);
}

.modal-input:focus + .icon-modal-input {
  fill: #2196F3;
}

.check-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #757575;
  display: flex;
  align-items: center;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.check-text:focus, .check-text:hover {
  color: #2196F3;
}

@media screen and (min-width: 1200px) {
  .check-text {
    font-size: 14px;
    line-height: 1.71;
  }
}

.check-text a {
  color: #2196F3;
}

.check-text::before {
  content: '';
  width: 16px;
  height: 15px;
  border: 1px solid #212121;
  border-radius: 2px;
  margin-right: 8px;
  outline: transparent;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.check-text:hover::before {
  content: '';
  width: 16px;
  height: 15px;
  border: 1px solid #2196F3;
  border-radius: 2px;
  margin-right: 8px;
  outline: transparent;
}

.input-check:checked + .check-text::before {
  background-color: #2196F3;
  background-image: url(../images/icon-check.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}

.modal-field-check {
  margin-top: 20px;
  margin-bottom: 30px;
}

.properties {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .properties {
    padding-top: var(--typical-padding);
    padding-bottom: 0;
  }
}

.properties-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.properties-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: var(--header-color);
  margin-bottom: 10px;
}

.properties-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
}

.properties-item {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .properties-item {
    width: calc((100% - 30px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .properties-item {
    width: calc((100% - 90px) / 4);
  }
}

.properties-icon {
  width: 100%;
  height: 120px;
  display: flex;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background-color: #F5F4FA;
}

.team {
  background-color: #F5F4FA;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .team {
    padding-top: var(--typical-padding);
    padding-bottom: var(--typical-padding);
  }
}

.team-first-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--header-color);
  margin-bottom: 50px;
}

@media screen and (min-width: 1200px) {
  .team-first-title {
    line-height: 1.17;
  }
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.team-second-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--header-color);
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
}

.team-text {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
  text-align: center;
}

.team-description {
  padding-bottom: 16px;
}

.team-item {
  background-color: var(--main-title-color);
  padding-bottom: 30px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 0px 0px 4px 4px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .team-item {
    width: calc((100% - 30px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .team-item {
    width: calc((100% - 90px) / 4);
  }
}

.team-soc-list {
  display: flex;
  justify-content: center;
}

.team-soc-item {
  width: 44px;
  height: 44px;
  margin-left: 10px;
}

.team-soc-item:first-child {
  margin-left: 0;
}

.team-soc-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-soc-link:hover, .team-soc-link:focus {
  background-color: #2196F3;
}

.team-soc-icon {
  background-color: #FFFFFF;
  fill: #AFB1B8;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-soc-link:hover .team-soc-icon,
.team-soc-link:focus .team-soc-icon {
  background-color: #2196F3;
  fill: #FFFFFF;
}

@media screen and (max-width: 1199px) {
  .work {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .work {
    padding-top: var(--typical-padding);
    padding-bottom: var(--typical-padding);
  }
}

.work-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--header-color);
  margin-bottom: 50px;
}

.work-list {
  display: flex;
}

.work-item + .work-item {
  margin-left: 30px;
}

.thumb-work {
  position: relative;
}

.thumb-work-title {
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}

.thumb-work > .thumb-work-title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}

.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .clients {
    padding-top: var(--typical-padding);
    padding-bottom: var(--typical-padding);
  }
}

.clients__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--header-color);
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .clients__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
  }
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.clients__item {
  height: 92px;
  width: 100%;
  width: calc((100% - 30px) / 2);
}

@media screen and (min-width: 768px) {
  .clients__item {
    width: calc((100% - 60px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .clients__item {
    width: calc((100% - 150px) / 6);
  }
}

.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 92px;
  background-color: var(--main-title-color);
  fill: #AFB1B8;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover, .clients__link:focus {
  border-color: #2196F3;
  fill: #2196F3;
}

.clients-icon {
  width: 100%;
  fill: #ffffff;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover .clients-icon,
.clients__link:focus .clients-icon {
  border-color: #2196F3;
  fill: #2196F3;
}

.footer {
  background-color: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (max-width: 767px) {
  .footer {
    text-align: center;
  }
}

@media screen and (max-width: 1199px) {
  .footer {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    display: flex;
  }
  .footer .container {
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .footer-wrapper {
    display: flex;
    justify-content: center;
  }
}

.logo--color-white {
  color: #FFFFFF;
}

.footer-contacts {
  margin-top: 20px;
}

@media screen and (max-width: 767px) {
  .footer-contacts {
    text-align: center;
    margin-bottom: 60px;
  }
}

.footer-contacts__link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contacts__link:hover, .footer-contacts__link:focus {
  color: #2196F3;
}

.footer-contacts__mail {
  margin-top: 9px;
}

.footer-contacts__mail--link {
  font-style: normal;
  font-size: 14x;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contacts__mail--link:hover, .footer-contacts__mail--link:focus {
  color: #2196F3;
}

.footer-contacts__tel {
  margin-top: 9px;
}

.footer-contacts__tel--link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contacts__tel--link:hover, .footer-contacts__tel--link:focus {
  color: #2196F3;
}

@media screen and (min-width: 768px) {
  .footer-communications {
    margin-right: 165px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-communications {
    margin-right: 70px;
    width: 231px;
  }
}

.social__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-title-color);
  margin-bottom: 20px;
}

.social__list {
  display: flex;
  justify-content: center;
}

.social__item {
  width: 44px;
  height: 44px;
  margin-left: 10px;
}

.social__item:first-child {
  margin-left: 0;
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:hover, .social__link:focus {
  background-color: #2196F3;
}

.social__icon {
  fill: #FFFFFF;
  background-color: #44454e;
  /*додала цей background-color тому, що квадтратики мулили очі Color=Color * alpha+Background * (1 - alpha);*/
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:hover .social__icon,
.social__link:focus .social__icon {
  fill: #FFFFFF;
  background-color: #2196F3;
}

@media screen and (max-width: 767px) {
  .footer__social {
    text-align: center;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .footer__social {
    margin-right: 93px;
  }
}

@media screen and (min-width: 768px) {
  .footer-form {
    margin-top: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form {
    margin: 0;
    max-width: 570px;
  }
}

.footer__input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  color: #FFFFFF;
  padding-left: 18px;
  margin-top: 20px;
  margin-bottom: 20px;
}

@media screen and (max-width: 767px) {
  .footer__input {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .footer__input {
    width: 450px;
  }
}

@media screen and (max-width: 767px) {
  .footer-form__input {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .footer-form__input {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form__input {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.footer__btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  cursor: pointer;
  background-color: #2196F3;
  min-width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 767px) {
  .footer__btn {
    margin: 0 auto;
    border: 0;
    padding: 0;
  }
}

@media screen and (min-width: 768px) {
  .footer__btn {
    margin: 0 auto;
    border: 0;
    padding: 0;
  }
}

@media screen and (min-width: 1200px) {
  .footer__btn {
    margin-left: 12px;
    border: 0;
    padding-right: 28px;
    padding-left: 29px;
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .footer__btn .icon__send {
    margin-left: 10px;
  }
}

.portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .portfolio {
    padding-top: var(--typical-padding);
    padding-bottom: var(--typical-padding);
  }
}

.potfolio-filters-list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 50px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .potfolio-filters-list {
    margin-bottom: 40px;
    gap: 15px 8px;
    justify-content: center;
  }
}

.portfolio-filter-btn {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  background-color: #F5F4FA;
  color: #212121;
  cursor: pointer;
  padding: 6px 22px 6px 22px;
  border-radius: 4px;
  border: 0;
  transition-property: color, box-shadow, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-filter-btn:hover, .portfolio-filter-btn:focus {
  background-color: #2196F3;
  color: #FFFFFF;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.project-item {
  cursor: pointer;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
}

.project-item:hover, .project-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

@media screen and (min-width: 768px) {
  .project-item {
    width: calc((100% - 30px) / 2);
    height: 440px;
  }
}

@media screen and (min-width: 1200px) {
  .project-item {
    width: calc((100% - 60px) / 3);
  }
}

.project-title {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  margin-bottom: 4px;
}

.projects-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
}

.project-item-border {
  border: 1px solid #EEEEEE;
  padding: 20px 24px;
  flex-grow: 1;
}

.project-top-wrap {
  position: relative;
  overflow: hidden;
}

.project-top-text {
  position: absolute;
  top: 0;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  height: 100%;
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-item:hover .project-top-text {
  transform: translateY(0);
}

.project-link {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
/*# sourceMappingURL=main.css.map */