.clients {
    padding-top: 60px;
    padding-bottom: 60px;
    
    @media screen and (min-width:1200px) {
        padding-top: var(--typical-padding);
        padding-bottom: var(--typical-padding);
    }
}

.clients__title {

    @include font (700, 28px, 1.18, 0.03em);
    text-align: center;
    color: var(--header-color);
    margin-bottom: 30px;

    @media screen and (min-width:1200px) {
        @include font (700, 36px, 1.17, 0.03em);
        margin-bottom: 50px;
  
    }  
}

.clients__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.clients__item {
    height: 92px;
    width: 100%;
    width: calc((100% - 30px) / 2);
    
    @media screen and (min-width:768px) {
        width: calc((100% - 60px) / 3);
    }
    
    @media screen and (min-width:1200px) {
        width: calc((100% - 150px) / 6);
    }
}


.clients__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 92px;

    background-color: var(--main-title-color);
    fill: #AFB1B8;
    border: 1px solid #AFB1B8;
    border-radius: 4px;

    transition-property: border-color;
    @include transition ();
   
    transition-property: fill;
    @include transition ();

        &:hover,
        &:focus {
            border-color: #2196F3;
            fill: #2196F3;
        }
}

.clients-icon {
    width: 100%;
    fill: #ffffff;

    transition-property: border-color;
    @include transition ($td:250ms, $ttf:cubic-bezier(0.4, 0, 0.2, 1));
  
    transition-property: fill;
    @include transition ($td:250ms, $ttf:cubic-bezier(0.4, 0, 0.2, 1));

    .clients__link:hover &,
    .clients__link:focus & {
        border-color: #2196F3;
        fill: #2196F3;
    }
  
}



