.footer {
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (max-width:767px) {
        text-align: center;
    }
    @media screen and (max-width:1199px) {
        text-align: center;
    } 
    @media screen and (min-width:1200px) {

        display: flex;
        
        .container {
            display: flex;
        }
    }
}

.footer-wrapper {
    @media screen and (min-width:768px) {
    
        display: flex;
        justify-content: center;
    
    } 
}

.logo--color-white{ 
    color: #FFFFFF;
}


.footer-contacts {
    margin-top: 20px;

    @media screen and (max-width:767px) {
        text-align: center;
        margin-bottom: 60px;
    }

}

.footer-contacts__link {
    font-style: normal;
    @include font (null, 14px, 1.71, 0.03em);
    color: #FFFFFF;

    transition-property: color;
    @include transition ();

        &:hover,
        &:focus {
            color: #2196F3;
        }
}

.footer-contacts__mail {
    margin-top: 9px;
}

.footer-contacts__mail--link {
    font-style: normal;
    @include font (null, 14x, 1.71, 0.03em);
    color: rgba(255, 255, 255, 0.6);

    transition-property: color;
    @include transition ();

        &:hover,
        &:focus {
            color: #2196F3;
        }
}

.footer-contacts__tel {
    margin-top: 9px;
}

.footer-contacts__tel--link {
    font-style: normal;
    @include font (400, 14px, 1.71, 0.03em);
    color: rgba(255, 255, 255, 0.6);

    transition-property: color;
    @include transition ();

        &:hover,
        &:focus {
            color: #2196F3;
        }
}

.footer-communications {
    @media screen and (min-width:768px) {
        margin-right: 165px;
    }

    @media screen and (min-width:1200px) {
        margin-right: 70px;
        width: 231px;
    }
    
}
.social__title {
    @include font (700, 14px, 1.14, 0.03em);
    text-transform: uppercase;
    color: var(--main-title-color);
    margin-bottom: 20px;
}

.social__list {
    display: flex;
    justify-content: center;
}

.social__item {
    width: 44px;
    height: 44px;
    margin-left: 10px;

    &:first-child {
        margin-left: 0;
    }
}

.social__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.1);

    transition-property: background-color;
    @include transition ($td:250ms, $ttf:cubic-bezier(0.4, 0, 0.2, 1));

        &:hover,
        &:focus {
            background-color: #2196F3;
        }

}

.social__icon {
    fill: #FFFFFF;
    background-color: #44454e;
    /*додала цей background-color тому, що квадтратики мулили очі Color=Color * alpha+Background * (1 - alpha);*/

    transition-property: background-color;
    @include transition ($td:250ms, $ttf:cubic-bezier(0.4, 0, 0.2, 1));

    .social__link:hover &,
    .social__link:focus & {
        fill: #FFFFFF;
        background-color: #2196F3;
    }
}

.footer__social {

    @media screen and (max-width:767px) {
        text-align: center;
        margin-bottom: 60px;
    }
    
    @media screen and (min-width:768px) {
        margin-right: 93px;
    }

}

.footer-form {
    @media screen and (min-width:768px) {
       margin-top: 60px;
    }
    @media screen and (min-width:1200px) {
        margin: 0;
        max-width: 570px;
    
    }
    

}

.footer__input {
        width: 358px;
        height: 50px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 4px;
        background-color: transparent;
        outline: transparent;
        color: #FFFFFF;
        padding-left: 18px;
            margin-top: 20px;
            margin-bottom: 20px;

    @media screen and (max-width:767px) {
   
        width: 100%;
 
    }

    @media screen and (min-width:768px) {
        width: 450px;
    }
        
}


.footer-form__input {
    @media screen and (max-width:767px) {
        display: block;
    }
    @media screen and (min-width:768px) {
        display: block;
    
    }
    @media screen and (min-width:1200px) {
    
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.footer__btn {
    @include font (700, 16px, 1.88, 0.06em);
    color: #FFFFFF;
    cursor: pointer;
    background-color: #2196F3;
    min-width: 200px;
    height: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (max-width:767px) {
        margin: 0 auto;
        border: 0;
        padding: 0;
    }
    
    @media screen and (min-width:768px) {
        margin: 0 auto;
        border: 0;
        padding: 0;
    }
    @media screen and (min-width:1200px) {


        margin-left: 12px;        
        border: 0;
        padding-right: 28px;
        padding-left: 29px;
        padding-top: 0;
        padding-bottom: 0;
}

.icon__send {
    @media screen and (min-width:1200px) {
        margin-left: 10px;
    }   
}

}