.main {

   
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        background-color: #2F303A;
        background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)), url(../images/hero-bg-mob.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        text-align: center;
        padding-top: 118px;
        padding-bottom: 118px;
        
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/hero-bg-mob-2x.jpg);
        }

        
    

    
    @media screen and (min-width:768px) {
        padding-left: 164px;
        padding-right: 164px;
        background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/hero-bg-tab.jpg);

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
                url(../images/hero-bg-tab-2x.jpg);
        }
    }
    @media screen and (min-width:1200px) {
        max-width: 1600px;
        min-height: 600px;
        padding-top: 200px;
        padding-bottom: 200px;
        background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)), url(../images/main-img.jpg);
       
        
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
                url(../images/main-img-2x.jpg);
        }
    }
   
    
}


.main-title {
   
        margin-top: 0;
        margin-bottom: 30px;
        margin-right: auto;
        margin-left: auto;
        font-weight: 900;
        font-size: 26px;
        line-height: 1.62;
        text-transform: uppercase;
        max-width: 360px;
        width: 100%;
        text-align: center;
    
    
    
    
    @media screen and (min-width:1200px) {
        
        padding-left: 40px;
        padding-right: 40px;
        font-size: 44px;
        line-height: 1.36;
        max-width: 696px;
        
    }


}

.main-btn {
    font-family: 'Roboto';
    @include font (700, 16px, 1.88, 0.06em);
    color: #FFFFFF;
    cursor: pointer;
    background-color: #2196F3;
    min-width: 200px;
    height: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    align-items: center;
    border: 0;
}