.properties {
    padding-top: var(--typical-padding);
    padding-bottom: 0;
}

.properties-list {
    padding: 0;
    display: flex;
}

.properties-title {
    @include font (700, 14px, 1.14, 0.03em);
    text-transform: uppercase;
    color: var(--header-color);
    margin-bottom: 10px;
}

.properties-text {
    @include font (400, 14px, 1.71, 0.03em);
    color: var(--second-title-color);
}

.properties-item {
    width: 270px;
}

.properties-item:not(:last-child) {
    margin-right: 30px;
}

.properties-icon {
    width: 270px;
    height: 120px;
    display: flex;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background-color: #F5F4FA;
}